<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Work Hours</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <form id="reportForm">
            <div class="day-container">
                <div class="start-date-container">
                    <label for="startDate">Select the start Date:</label>
                    <input type="date" id="startDate" required>
                </div>
                <h2>Monday</h2>
                <label for="dateMonday">Date:</label>
                <input type="text" name="dateMonday" readonly>
                <label for="timeStartedMonday">Time Started:</label>
                <input type="text" name="timeStartedMonday" required>
                <label for="timeEndedMonday">Time Ended:</label>
                <input type="text" name="timeEndedMonday" required>
                <label for="lunchBreakMonday">Lunch Break:</label>
                <input type="checkbox" id="lunchBreakMonday" name="lunchBreakMonday">
                <label for="lunchBreakMonday"></label>
                <label for="summaryMonday">Summary:</label>
                <textarea name="summaryMonday" required></textarea>
                <label for="projectCodeMonday">Project Code:</label>
                <input type="text" name="projectCodeMonday" required>
            </div>
            <div class="day-container">
                <h2>Tuesday</h2>
                <label for="dateTuesday">Date:</label>
                <input type="text" name="dateTuesday" readonly>
                <label for="timeStartedTuesday">Time Started:</label>
                <input type="text" name="timeStartedTuesday" required>
                <label for="timeEndedTuesday">Time Ended:</label>
                <input type="text" name="timeEndedTuesday" required>
                <label for="lunchBreakTuesday">Lunch Break:</label>
                <input type="checkbox" id="lunchBreakTuesday" name="lunchBreakTuesday">
                <label for="lunchBreakTuesday"></label>
                <label for="summaryTuesday">Summary:</label>
                <textarea name="summaryTuesday" required></textarea>
                <label for="projectCodeTuesday">Project Code:</label>
                <input type="text" name="projectCodeTuesday" required>
            </div>
            <div class="day-container">
                <h2>Wednesday</h2>
                <label for="dateWednesday">Date:</label>
                <input type="text" name="dateWednesday" readonly>
                <label for="timeStartedWednesday">Time Started:</label>
                <input type="text" name="timeStartedWednesday" required>
                <label for="timeEndedWednesday">Time Ended:</label>
                <input type="text" name="timeEndedWednesday" required>
                <label for="lunchBreakWednesday">Lunch Break:</label>
                <input type="checkbox" id="lunchBreakWednesday" name="lunchBreakWednesday">
                <label for="lunchBreakWednesday"></label>
                <label for="summaryWednesday">Summary:</label>
                <textarea name="summaryWednesday" required></textarea>
                <label for="projectCodeWednesday">Project Code:</label>
                <input type="text" name="projectCodeWednesday" required>
            </div>
            <div class="day-container">
                <h2>Thursday</h2>
                <label for="dateThursday">Date:</label>
                <input type="text" name="dateThursday" readonly>
                <label for="timeStartedThursday">Time Started:</label>
                <input type="text" name="timeStartedThursday" required>
                <label for="timeEndedThursday">Time Ended:</label>
                <input type="text" name="timeEndedThursday" required>
                <label for="lunchBreakThursday">Lunch Break:</label>
                <input type="checkbox" id="lunchBreakThursday" name="lunchBreakThursday">
                <label for="lunchBreakThursday"></label>
                <label for="summaryThursday">Summary:</label>
                <textarea name="summaryThursday" required></textarea>
                <label for="projectCodeThursday">Project Code:</label>
                <input type="text" name="projectCodeThursday" required>
            </div>
            <div class="day-container">
                <h2>Friday</h2>
                <label for="dateFriday">Date:</label>
                <input type="text" name="dateFriday" readonly>
                <label for="timeStartedFriday">Time Started:</label>
                <input type="text" name="timeStartedFriday" required>
                <label for="timeEndedFriday">Time Ended:</label>
                <input type="text" name="timeEndedFriday" required>
                <label for="lunchBreakFriday">Lunch Break:</label>
                <input type="checkbox" id="lunchBreakFriday" name="lunchBreakFriday">
                <label for="lunchBreakFriday"></label>
                <label for="summaryFriday">Summary:</label>
                <textarea name="summaryFriday" required></textarea>
                <label for="projectCodeFriday">Project Code:</label>
                <input type="text" name="projectCodeFriday" required>
            </div>
            <button id="downloadBtn" type="button">Download CSV</button>
        </form>
    </div>
    <script src="/static/indexpage.js"></script>
</body>
</html>
