<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <form id="loginForm">
        <div class="login-container">
            <div class="notification-container">
                <div>
                    <h5>LogTool Login page, please login or create a new account.</h5>
                </div>
            </div>
            <div class="navigation">
                <input type="text" placeholder="Username" required>
                <input type="password" placeholder="Password" required>
            </div>
            <div class="navigation">
                <button type="button">Login</button>
                <button type="button" class="create-user">Create Account</button>
            </div>
        </div>       
    </form>
    <script src="/static/loginpage.js"></script>
    <div class="banner">
        <img src="/static/images/logos-english-all.jpg" alt="logos of all the participating organisations in AIMLearning.">
    </div>  
</body>
</html>