<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Work Hours - LogTool</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <div class="navigation">
            <a href="/monthly"><button>Go to Monthly Log</button></a>
            <a href="/"><button>Sign out</button></a>
        </div>
        <div class="notification-container">
            <div>
                <h5>Fields marked with * must be filled. These will auto-fill the date fields. For days off, leave fields empty.</h5>
            </div>
        </div>
        <form id="reportForm">
            <input type="hidden" id="user_token" name="user_token" value="<!-- user token from sessionService here -->">
            <div class="day-container">
                <div class="start-date-container">                     
                    <h2>Weekly Work Hours - LogTool</h2>
                    <label for="weekNumber" class="required">Week Number*:</label>
                    <input type="number" id="weekNumber" name="week_number" min="1" max="53" required>
                    <label for="year" class="required">Year*:</label>
                    <input type="number" id="year" name="year" min="1900" max="2100" required>
                    <button type="button" id="setWeekBtn">Set Week</button>
                    <div>
                        <h5>Set lunch break length.</h5>
                        <input type="number" name="lunchBreakLength" id="lunchBreakLength" min="0.00" max="1.00" step="0.25">
                  </div>
                  <div>
                    <h5>Set file name.</h5>
                    <input type="text" id="filename" placeholder="Enter file name">
                  </div>
                  <div>
                    <div id="weekContainers"></div>
                  </div>
            <button id="addWeekBtn" type="button">Add a Week</button>
            <button id="deleteWeekBtn" type="button">Delete a Week</button>
            <button id="downloadBtn" type="button">Download CSV</button>
            <button id="saveBtn" type="button">Save log file</button>
        </form>
    </div>
    <script src="/static/weeklypage.js"></script>
</div>
    <div class="banner">
        <img src="/static/images/logos-english-all.jpg" alt="logos of all the participating organisations in AIMLearning.">
    </div> 
</body>
</html>