<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Log Confirmation - LogTool</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <div class="notification-container">
            <div>
                <h5>Your weekly log has been saved successfully!</h5>
            </div>
        </div>
        <div class="navigation">
            <a href="/weekly"><button>Back to Weekly Log</button></a>
            <a href="/"><button>Sign out</button></a>
        </div>
    </div>
    <div class="banner">
        <img src="/static/images/logos-english-all.jpg" alt="logos of all the participating organisations in AIMLearning.">
    </div>
</body>
</html>